<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Kanban - Novo Usu치rio</title>
<link rel="stylesheet" href="../css/usuario.css">
</head>
<body>

  <header>
    <div class="header">
        <h1>Board de tarefas</h1>

        <button onclick="window.location.href='index.html'">Kanban</button>
        <button onclick="window.location.href='novo-usuario.html'">Novo Usu치rio</button>
        <button onclick="window.location.href='nova-tarefa.html'">Nova Tarefa</button>
    </div>
  </header>
  
  <div class="container">
    <h2>Novo Usu치rio</h2>

    <label for="id">Id do usu치rio</label>
    <input type="text" id="id" value="000010">

    <label for="nome">Nome Completo</label>
    <input type="text" id="nome">

    <label for="email">Email</label>
    <input type="text" id="email">

    <div class="buttons">
      <button>OK</button>
      <button>CANCELAR</button>
    </div>
  </div>

</body>
</html>
