  body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
  }
  h1{
    color: #f4f4f4;
  }
  header {
   display: flex;
    justify-content: space-between;
    background: #222;
    padding: 12px 20px;
  }

  header div {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  header a {
    color: rgb(243, 238, 238);
    text-decoration: none;
    font-size: 18px;
  }

  header button {
    margin-left: 80px;
    background: #3f4441;

      border: none;
      color: white;
      padding: 8px 14px;
      border-radius: 6px;
      cursor: pointer;
    }

    header button:hover {
      background: #3f4441;
    }

    .arrow {
    color: white;
    margin-left: auto;
  }

  .container {
    background: white;
    width: 540px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }

  h1 {
    margin-top: 0;
  }

  label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .buttons button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  .buttons button:first-child {
    background: #464444;
    color: white;
  }

  .buttons button:last-child {
    background: #464444;
    color: white;
  }